<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
    <header><p>LOGO</p>       
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Sair do Sistema</button>
        </form>
        <p>Rodrigo</p></header>

    <main>
        <section id="batatinha">
            <div>
                <div>
                <p>TOTAL DE CLIENTES</p>
                <p>4</p>
                </div>
            </div>
            <div>
                <div>
                <p>EM NEGOCIAÇÃO</p>
                <p>{{total_negociacao}}</p>
                </div>
            </div>
            <div>
                <div>
                <p>FECHADOS</p>
                <p>{{total_fechado}}</p>
                </div>
            </div>
            <div>
                <div>
                <p>VALOR TOTAL NEGOCIADO</p>
                <p>{{total_proposta}}</p>
                </div>
            </div>
        </section>
        <section>
            <input type="search" name="busca" id="busca" placeholder="busque clientes">
            <button>Novo Cliente +</button>
        </section>
        <section>
            <table>
                <thead>
                    <th>CLIENTE</th>
                    <th>CONTATO</th>
                    <th>VALOR PROPOSTA</th>
                    <th>STATUS</th>
                    <th>DATA CADASTRO</th>
                    <th>AÇÕES</th>
                </thead>
                <tbody>
                    {% for cliente in lista_clientes %}
                    <tr>
                        <td>{{cliente.nome}}</td>
                        <td>{{cliente.telefone}}</td>
                        <td>R${{cliente.valor_proposta}}</td>
                        <td>{{cliente.status}}</td>
                        <td>{{cliente.data_cadastro}}</td>
                        <td>EXCLUIR</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
    <footer></footer>
</body>
</html>