<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} <form action = "" method ="post">
        {% csrf_token %} 
        {% form.as_div %}
        
    </form> {% endcomment %}
    {% comment %} essas funções comentadas vão ser o resumo das linhas 15 até {% endcomment %}

    <form method="post">
        {% csrf_token %} 
        {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">{{field.label}}:
            </label>
            {{field}}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit">ENTRAR</button>
    </form>


</body>
</html>